.description-container {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;


}
.dark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}
.description-title {
    font-size: 12px;
    color: #FFF;
    padding: 5% 0 5% 5%;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;

}
.description-title img{
    width: 30rem;
}

@media screen and (max-width: 768px) {
    .description-title img{
        width: 100%;
        height: 10rem;
    }
}
    


.description-content {
    color: #FFF;
    padding: 5% 5% 5% 1%;
    margin-top: 2.9rem;
    width: 100%;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .description-content {
        margin-top: 6.6rem;
    }
}
    


.description {
    text-align: justify;
    width: 38%;;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    

}

.dates{
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 768px) {
    .description {
        width: 100%;
    }
    .description-content {
        width: 100%;
    }
}
    


.description-content span {
    border: solid 1px #FFF;
    color: #000;
    background-color: #FFF;
    border-radius: 2px;
    padding: 1px;
    margin-left: 2rem;
}

.description-actors-container
{
    display: flex;
    width: 67%;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .description-actors-container {
        width: 100%;
        margin-right: 1rem;
    }
}
 

.description-title-actors
 {
    margin: -2px 1px 0 0;
    font-family: 'Outfit', sans-serif;
    width: 16%;
    margin-right: 1px;
    font-weight: bold;
    font-size: 17px;
}
@media screen and (max-width: 768px) {
    .description-title-actors {
        width: 20%;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1305px) {
    .description-title-actors {
        width: 20%;

    }

    .description{
        width: 52%;
    }
}


@media screen and (max-width: 1385px) {
    .description-title-actors {
        width: 20%;

    }

    .description{
        width: 52%;
    }
}
.description-name-actors {
    text-align: left;
    font-family: 'Outfit', sans-serif;
    margin-top: 1px;
    margin-bottom: -4px;
    
    color: #FFF;
    font-size: 14px;
    /* font-weight: bold; */

}

@media screen and (max-width: 768px) {
    .description-name-actors {
        margin-left: 0;
    }
}